In [7]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>div.output_scroll { height: 20em; }</style>"))
import warnings

warnings.filterwarnings('ignore')

path = "../../kaggle/data/"

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

### I. Chargement des donn√©es

#### 1. Train & Test

In [10]:
train = pd.read_csv(path + "train.csv")
test = pd.read_csv(path + "test.csv")

In [25]:
print('-' * 50)
display('*** Train ***')
print()
display(train.head(2))
display(train.tail(2))
print()
print('-' * 50)
print()
display('***Test***')
print()
display(test.head(2))
display(test.tail(2))
print('-' * 50)

--------------------------------------------------

'*** Train ***'

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0

,id,date,store_nbr,family,sales,onpromotion
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.0,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.0,0

--------------------------------------------------

'***Test***'

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0

            id        date  store_nbr                      family  onpromotion
28510  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES            9
28511  3029399  2017-08-31          9                     SEAFOOD            0

--------------------------------------------------

#### 2. Column Descriptions for train & test dataset: 

- **date** : The date when the data was recorded.
- **store_nbr** : Identifies the store at which the products are sold.
- **family** : Identifies the type of product sold.
- **onpromotion** : Gives the total number of items in a product family that were being promoted at a store at a given date.

 The <ins>**Target variable**</ins>
- **sales** : Gives the total sales for a product family at a particular store at a given date. Fractional values are possible.

In [31]:
display('*** Train ***')
display(len(train.store_nbr.unique()))
display(len(train.family.unique()))
print('-' * 50)
display('***Test***')
display(len(test.store_nbr.unique()))
display(len(test.family.unique()))

'*** Train ***'

54

33

--------------------------------------------------

'***Test***'

54

33

transactions - The total number of transactions that occurred in a store on a given date.
From oil.csv:
date - The date when the oil price was recorded.
dcoilwtico - The daily oil price; "WTI" refers to West Texas Intermediate, a grade of crude oil used as a benchmark in oil pricing.
From holidays_events.csv:
date - The date of the holiday or event.
type - The type of holiday or event (e.g., Holiday, Event, Bridge, Work Day, Transfer).
locale - The locale where the holiday is observed (e.g., National, Regional, Local).
locale_name - The name of the locale where the holiday is observed.
description - A brief description of the holiday or event.
transferred - Indicates whether the holiday was transferred to another date (True or False).
From stores.csv:
store_nbr - The store number, a unique identifier for each store.
city - The city where the store is located.
state - The state where the store is located.
type - The type of store.
cluster - A grouping of similar stores.

In [ ]:
holiday_events = pd.read_csv(path + "holidays_events.csv")
oil = pd.read_csv(path + "oil.csv")
stores = pd.read_csv(path + "stores.csv")

transactions = pd.read_csv(path + "transactions.csv")

train["date"] = pd.to_datetime(train.date)
test["date"] = pd.to_datetime(test.date)
holiday_events["date"] = pd.to_datetime(holiday_events.date)
oil["date"] = pd.to_datetime(oil.date)
transactions["date"] = pd.to_datetime(transactions.date)